.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.about-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}

.about-heading h6 {
  font-size: 2rem;
  opacity: 300;
}

.profile-img {
  flex: 1;
  margin-right: 5rem;
  width: 50rem;
}

.profile-img img {
  width: 300px;
}

.about-details {
  flex: 2;
  text-align: justify;
}
