.social-media i {
  font-size: 6rem;
  transition: color 650ms;
}

.fa-facebook-square:hover {
  color: #4267b2;
}

.fa-github:hover {
  color: #929292;
}

.fa-skype:hover {
  color: #28a8ea;
}

.contact-background ul {
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  position: relative;
  padding: 8rem;
  list-style: none;
  text-align: left;
  width: 80%;
}
