* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #eee;
}

body {
  width: 100%;
  height: 100%;
  background: url('../images/bgn3.jpg') no-repeat center fixed;
  background-size: cover;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

body * {
  z-index: 1;
}

section {
  padding: 6rem 0;
}

a {
  text-decoration: none;
  color: #eee;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}
