body {
  overflow: hidden;
  font-family: source-sans-pro, sans-serif;
  color: #574845;
  margin: 0;
  min-width: 310px;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  text-align: justify;
}
.container {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.personal-side {
  width: 30vw;
  height: 100vh;
  background-image: url('images/backg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.personal-text p {
  font-size: 22px;
  line-height: 1.7;
}

.avatar,
.avatar-text,
.social-part {
  position: fixed;
  right: 70%;
  margin: 100px;
  font-size: 20px;
}
.avatar img {
  height: 190px;
  width: 190px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-text {
  top: 180px;
  text-align: right;
}

.wrapper {
  background-color: #fdfdfd;
}

.social-part {
  bottom: 0;
}

.social-part i {
  color: rgb(255, 255, 255, 0.5);
  font-size: 50px;
  margin: 0 20px 20px 0;
}

.social-part a i:hover {
  color: #9b8151;
}

.content-side {
  width: 70vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: #fdfdfd;
}

.description-part {
  padding: 100px;
}

.project-items {
  justify-content: space-around;
}
.projects-part {
  padding: 0 100px 100px 100px;
}

.project-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  top: 0;
  height: 300px;
  border-radius: 10px;
  opacity: 0.5;
  transition: 1s;
}

.project-item {
  width: 400px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 30px;
  border-radius: 10px;
}

.content-side::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.content-side::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.project-button {
  bottom: 180px;
  z-index: 500;
  opacity: 0;
}

.project-link {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border: 1px solid white;
  border-radius: 5px;
}

.project-button,
.project-description {
  width: 400px;
  position: relative;
  text-align: center;
}

.project-description {
  opacity: 1;
  transition: 0.5s;
  bottom: 290px;
  color: white;
}

.project-text {
  padding: 30px;
  font-size: 19px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.project-title {
  font-size: 27px;
}

.project-item:hover .project-button {
  opacity: 1;
  transition: 1s;
}
.project-item:hover .project-description {
  opacity: 0;
  transition: 0.2s;
}
.project-item:hover .project-overlay {
  opacity: 1;
}

.up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #eee;
  border-radius: 100%;
  cursor: pointer;
}

.fa-chevron-up:hover {
  color: #9b8151;
}

.up i {
  color: #16162d;
  font-size: 2.1rem;
  margin: auto;
  padding: 20px;
}

@media screen and (max-width: 1124px) {
  .wrapper {
    flex-direction: column;
  }
  .personal-side {
    flex-direction: row;
    width: 100vw;
    height: 30vh;
  }
  .avatar,
  .avatar-text,
  .social-part {
    position: inherit;
    margin: auto;
    margin-left: 20px;
  }

  .personal-title-text {
    text-align: center;
  }
  .projects-title-text {
    text-align: center;
  }

  .avatar-text {
    position: inherit;
  }

  .social-part {
    position: inherit;
  }

  .content-side {
    margin: auto;
  }
  .description-part {
    padding: 10px;
  }
  .projects-part {
    padding: 10px;
  }
}

@media screen and (max-width: 764px) {
  body {
    overflow: auto;
  }
  .content-side {
    overflow-y: visible;
  }

  .avatar,
  .avatar-text,
  .social-part {
    position: inherit;
    margin: auto;
    font-size: 10px;
    text-align: center;
  }

  .social-part i {
    margin-bottom: 10px;
  }

  .social-part i {
    font-size: 30px;
  }

  .personal-side {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .avatar img {
    height: 130px;
    width: 130px;
  }

  .avatar-second-text {
    color: #f3f3f3;
  }

  .personal-title-text {
    text-align: center;
  }
  .projects-title-text {
    text-align: center;
  }
}

@media only screen and (max-width: 450px) {
  .project-item,
  .project-button,
  .project-description {
    width: 300px;
  }
  .personal-title h1 {
    font-size: 20px;
  }
  .personal-side {
    height: 300px;
  }
  .personal-text p {
    font-size: 16px;
  }
  .avatar-second-text {
    color: #f3f3f3;
  }
  .up {
    width: 3rem;
    height: 3rem;
  }

  .up i {
    font-size: 1.2rem;
    padding: 13px 16px 15px 15px;
  }
}
